<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.im.mapper.CountryMapper">

    <select id="getCountryList" resultType="com.im.entity.Country">
        select
            *
        from country c
        inner join country_code cc on c.country_id = cc.country_id
    </select>
</mapper>
