<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.im.mapper.UserGroupMapper">
    <select id="selectIdByGroupId" resultType="java.lang.Long">
        select id from user_group where group_id = #{groupId}
    </select>
</mapper>
